#gallery_viewer {
    display: grid;
    height: calc(100vh - 10px);
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    grid-gap: 0.5em;
}

@media (max-width: 800px) {
    #gallery_viewer {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    #gallery_viewer>div {
        width: 48%;
        margin: 1%;
    }
}

@media (max-width: 800px) and (max-width: 350px) {
    #gallery_viewer>div {
        width: 98%;
    }
}

#gallery_viewer>div:nth-child(6n + 1) {
    grid-column: span 2;
    grid-row: span 2;
}

#gallery_viewer>div:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
}

#gallery_viewer>div:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
}

#gallery_viewer>div:hover {
    opacity: 1;
}

#gallery_viewer>div {
    overflow: hidden;
    position: relative;
}

#gallery_viewer div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

[id^="lightbox-"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0.95;
    transition: opacity 450ms ease-in-out;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

[id^="lightbox-"]:target {
    opacity: 1;
    pointer-events: inherit;
}

[id^="lightbox-"] .content {
    max-width: 90%;
    position: relative;
    color: #fff;
}

[id^="lightbox-"] .content:hover>.title {
    opacity: 1;
    transform: translateY(-3px);
}

[id^="lightbox-"] .content:hover>.title::after {
    opacity: 1;
}

[id^="lightbox-"] .content>* {
    transition: all 450ms ease-in-out;
}

[id^="lightbox-"] .title {
    display: block;
    margin: 0;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(50%);
    font-size: 1.5em;
    opacity: 0.95;
}

[id^="lightbox-"] .title::after {
    content: ' ';
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 350ms ease-in-out 250ms;
    opacity: 0.95;
    transform-origin: bottom;
}

[id^="lightbox-"] img {
    max-height: 90vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

[id^="lightbox-"] a.close {
    width: 2em;
    height: 2em;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0, 0);
    opacity: 0.95;
    transform-origin: right top;
    text-decoration: none;
    color: #fff;
}

[id^="lightbox-"] a.close::after {
    content: "X";
}